body {
  padding: 70px;
  background-color: lightgrey;
}

.navbar {
  background-color: maroon
}

.jumbotron {
  max-width: 500px;
  padding: 30px;
}

.frontpage {
  background-color: lightblue;
}

OL {
  font-size: 30px;
}

li {
  font-size: 20px;
}

.profilepic {
  float:right;
}

img {
  max-height: 250px;
}
