body {
  padding: 70px;
  background-color: #004de6;
  color:white;

}

.navbar {
  background-color: maroon
}

.jumbotron {
  max-width: 500px;
  padding: 30px;
  border: 5px solid white;
}

.frontpage {
  background-color: #800080;
}

OL {
  font-size: 30px;
}

li {
  font-size: 20px;
}

img {
  max-height: 250px;
  float: right;
}

.jobtitle {
  font-weight: bold;
}


.aboutme {
  color: black;
}

.projects{
  color: black;
}
